
.progress-bar {
  background-color: rgb(246, 246, 246);
  border-radius: 10px;
  width: 100%;
  height: 10px;
  overflow: hidden;
  .progress {
    width: 90%;
    background-color: rgb(40, 84, 233);
    border-radius: 10px;
    height: 10px;
  }
}
